table {
    margin: 0 auto;
}

td {
    border: 1px solid black;
    width: 14px;
    height: 14px;
}

.white {
    background: white;
}

.black {
    background: black;
}

.opposite .white {
    background: black;
}

.opposite .black {
    background: white;
}